@model int
@{
    ViewBag.Title = "Pelicula";
}



<h2>Pelicula</h2>
<tr>
    <pr>
        Id de la pelicula= @Model
    </pr>
    @*<td>
        @pelicula.Titulo
    </td>
    <td>@pelicula.Descripcion</td>
    <td>@pelicula.Duracion minutos</td>*@
</tr>
